{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
<style>
</style>

    <!-- Profil -->
    <section>
        <div class="-mt-4">
            {% include('profil.html.twig') %}
                <div class="flex-1 flex flex-col overflow-hidden">
                    <header class="flex justify-between items-center py-4 px-6 bg-white border-b-4 border-nav-light">
                        <div class="flex items-center">
                            <button @click="sidebarOpen = true" class="text-gray-500 focus:outline-none lg:hidden">
                                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </div>
                    </header>
                    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                        <div class="container mx-auto px-6 py-8">
                            <h3 class="text-gray-700 text-3xl font-medium">Profil</h3>

                            <div class="mt-4 bg-white rounded">
                                <div class="container mx-auto text-center">
                                    <article class="py-12 px-4 ml-4">
                                        <h1 class="text-4xl text-center mb-4 font-semibold font-heading font-semibold">Choix de l'heure du rendez-vous .</h1>

                                        <div class="max-w-3xl mx-auto">
                                            <p class="mb-4">Vous pouvez choisir une heure de rendez-vous .  </p>
                                           <hr>
                                            <div class="container">
                                                    <div class="flex justify-center p-4 mb-10">
                                                        <h1 class="text-xl text-blue-500">Heure de rendez-vous.</h1>
                                                    </div>
                                                    <div class="flex justify-center">
                                                        <div class="bg-nav-light sm:w-11/12  lg:w-2/4 shadow-xl rounded-lg">
                                                            <p class="text-lg text-blue-500">Disponible = vert / Indisponible = gris</p>
                                                            <ul class="divide-y divide-gray-300">
                                                                {% for heure in heures %}
                                                                    {% if HeureEnCours+1 >= heure and dateCheck == j %}
                                                                            <li class="p-4 bg-gray-400 cursor-pointer">
                                                                                <p class="text-textC">{{ heure }}H</p>
                                                                            </li>
                                                                        {% else %}
                                                                            <li class="p-4 flex flex-col bg-nav-light cursor-pointer">
                                                                                <p class="text-textC">{{ heure }}H</p>
                                                                                <a class="mt-3 m-2 w-4/12 mx-auto bg-nav-dark hover:bg-btnBack hover:text-white px-1 py-1 rounded"
                                                                                   href="{{ path('validation', {"date": t, "heure": heure,"type": "tatouage" }) }}">Rdv tatouage</a>
                                                                                <a class="m-3 bg-nav-dark w-4/12 mx-auto hover:bg-btnBack hover:text-white px-2 py-1 rounded"
                                                                                   href="{{ path('validation', {"date": t, "heure": heure,"type": "piercing" }) }}">Rdv piercing</a>
                                                                                <a class="m-3 bg-nav-dark w-4/12 mx-auto hover:bg-btnBack hover:text-white px-2 py-1 rounded"
                                                                                   href="{{ path('validation', {"date": t, "heure": heure,"type": "microblading" }) }}">Rdv Microblading</a>
                                                                            </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="mt-5">
                                            <a class="rounded px-2 py-1 bg-nav-light hover:bg-btnBack hover:text-white" href="{{ path("reservation") }}">Revenir au choix du jour.</a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </section>
    {% else %}
        <p class="text-3xl m-96">Veuillez vous reconnecter ! <a class="bg-nav-dark px-2 py-1 rounded hover:text-white hover:bg-btnBack" href="{{ path("app_login") }}">Se connecter !</a></p>
    {% endif %}
{% endblock %}

