{% extends 'base.html.twig' %}
{% block body %}
<style>
    .carousel-open:checked + .carousel-item {
        position: static;
        opacity: 100;
    }
    .carousel-item {
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
    }
    #carousel-1:checked ~ .control-1,
    #carousel-2:checked ~ .control-2,
    #carousel-3:checked ~ .control-3 {
        display: block;
    }
    .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }
    #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
        color: #2b6cb0;
    }

    @media screen and (min-width: 1400px){
        .taille{
            background-position: center bottom;
            height: 95vh;
        }
    }

</style>

    <!-- Header with image -->
    <section class="w-full mt-16">
        <div class="w-full  bg-gray-500 bg-no-repeat" style="
  background-blend-mode: multiply;
  background-position: center center;
  background-image: url('https://aimergences.com/wp-content/uploads/2018/09/image-background-1920x400.jpeg');
">
            <div class=" p-10  py-20  flex  flex-col  flex-wrap  justify-center  content-center">
                <div class=" m-0  p-0  text-5xl  text-white  antialiased  text-center">Les Actualités !</div>
                <div class=" m-0  p-0  text-xl  text-white  antialiased  text-center"></div>
            </div>
        </div>
    </section>
    <!-- Header with image -->


    <section class="w-full mx-auto h-full bg-gradient-to-r from-nav-original to-yellow-100">
        <h1 class="text-center pt-5 text-textC text-5xl">Tous les Articles.</h1>

        <div class="flex flex-wrap mt-10">
            {% if articles is not empty %}
                {% for article in articles %}
            <div class="m-auto px-4 py-8 rounded-2xl max-w-sm flex-auto">
                <div class="bg-white shadow-2xl">
                    <div>
                        <img src="uploads/articles/{{ article.image }}">
                    </div>
                    <div class="px-4 py-2 mt-2 bg-white">
                        <h2 class="font-bold text-2xl text-gray-800">{{article.titre}}</h2>
                        <p class="sm:text-sm text-xs h-14 break-words overflow-hidden text-gray-700 px-2 mr-1 my-3"> {{ article.description }}</p>
                        <div class="user flex items-center -ml-1 mt-8 mb-4">
                            <a class="bg-nav-dark px-3 py-4 rounded-tl-2xl text-textC rounded-tr-2xl hover:text-white hover:bg-btnBack" href="{{ path('learticle',{"id": article.id})
                            }}">Détail de
                                l'article</a>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
            {% else %}
            <h1 class="mx-auto text-3xl m-36">Aucun Article !</h1>
            {% endif %}
        </div>
        <div class="w-full  bg-gray-500  bg-no-repeat" style="
  background-blend-mode: multiply;
  background-position: center center;
  background-image: url('https://images.unsplash.com/photo-1572297870735-065d402f7b29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
">
            <div class=" p-10  py-20  flex  flex-col  flex-wrap  justify-center  content-center">
                <div class=" m-0  p-0  text-3xl  text-white  antialiased  text-center">Voulez-vous être informé de l'actualité du site ?</div>
                <div class=" m-0  p-0  text-xl  text-white  antialiased  text-center">Profiter de notre système de newsletter</div>
                <div class=" mt-3  flex justify-center item-center">
                    <a href="{{ path('signin') }}" class=" p-2  w-1/3  bg-indigo-400  rounded-r-lg  text-white hover: bg-indigo-300" type="button">S'inscrire</a>
                </div>
            </div>
        </div>

    </section>




{% endblock %}
