{% extends 'base.html.twig' %}
{% block body %}
<style>
    .carousel-open:checked + .carousel-item {
        position: static;
        opacity: 100;
    }
    .carousel-item {
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
    }
    #carousel-1:checked ~ .control-1,
    #carousel-2:checked ~ .control-2,
    #carousel-3:checked ~ .control-3 {
        display: block;
    }
    .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }
    #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
        color: #2b6cb0;
    }

    @media screen and (min-width: 1400px){
        .taille{
            background-position: center bottom;
            height: 95vh;
        }
    }

</style>
    
    <section class="w-full mt-16 opacity-60 2xl:mx-auto">
        <div class="mt-0 carousel relative shadow-2xl bg-white w-full">
            <div class="carousel-inner relative overflow-hidden ">
                <!--Slide 1-->
                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                <div class="carousel-item absolute opacity-0 sm:h-full taille">
                    <div class="block max-w-full text-white text-5xl text-center"><img class="img"  src="/uploads/rea/salon1.jpg"/></div>
                </div>
                <label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

                <!--Slide 2-->
                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item absolute opacity-0 sm:h-full taille">
                    <div class="block h-full w-full text-white text-5xl text-center"><img class="img" src="/uploads/salon-1.jpg"/></div>

                </div>
                <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

                <!--Slide 3-->
                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item absolute opacity-0 sm:h-full taille">
                    <div class="block h-full w-full text-white text-5xl text-center"><img class="img" src="/uploads/rea/ink.JPG"/></div>
                </div>
                <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                <label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>


            </div>
        </div>
    </section>

    <section class="container mt-10 rounded-lg mx-auto w-full h-full bg-white">
        <div class="py-12">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="lg:text-center">
                    <h2 class="text-base text-nav-dark font-semibold tracking-wide uppercase text-center text-5xl">Le Salon de Tatouage</h2>
                    <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-textC sm:text-4xl">

                    </p>
                    <p class="mt-4 max-w-2xl text-xl text-textC lg:mx-auto">
                        Voici les différentes compétences et service que nous mettons à votre disposition !
                    </p>
                </div>

                <div class="mt-10">
                    <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-nav-dark text-white">
                                    <!-- Heroicon name: globe-alt -->
                                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <dt class="text-lg leading-6 font-medium text-gray-900">
                                    Prenez rendez-vous en ligne
                                </dt>
                                <dd class="mt-2 text-base text-textC">
                                    En vous inscrivant sur le site, il vous est possible de prendre rendez-vous en vue d'un tatouage ou d'un piercing. <br>
                                    <a class="text-textC hover:text-btnBack" href="{% if app.user %}{{ path('reservation') }} {% else %} {{ path('app_login')}} {% endif %}">Un rendez-vous ?</a>
                                </dd>
                            </div>
                        </div>

                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-nav-dark text-white">
                                    <!-- Heroicon name: scale -->
                                    <img src="https://img.icons8.com/ios/50/000000/piercing.png"/>
                                </div>
                            </div>
                            <div class="ml-4">
                                <dt class="text-lg leading-6 font-medium text-gray-900">
                                    Piercing
                                </dt>
                                <dd class="mt-2 text-base text-gray-900">
                                    Vous souhaitez faire un piercing ? Ou vous avez peut-être des questions à propos d'un piercing, si vous souhaitez avoir plus d'information
                                    vous pouvez prendre rendez-vous ou m'envoyer un mail via le formulaire de contact.
                                    <a class="text-textC hover:text-btnBack" href="{% if app.user %}{{ path('reservation') }} {% else %} {{ path('app_login')}} {% endif %}">Un rendez-vous ?</a>
                                    <a class="text-textC hover:text-btnBack" href="{{ path('salon') }}">Formulaire de contact ?</a>
                                </dd>
                            </div>
                        </div>

                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-nav-dark text-white">
                                    <!-- Heroicon name: lightning-bolt -->
                                    <img src="https://img.icons8.com/ios/50/000000/hand-poking-tool.png"/>
                                </div>
                            </div>
                            <div class="ml-4">
                                <dt class="text-lg leading-6 font-medium text-gray-900">
                                    Tatouage
                                </dt>
                                <dd class="mt-2 text-base text-gray-900">
                                    Vous souhaitez faire un tatouage ? Ou vous avez peut-être des questions à propos d'un tatouage, si vous souhaitez avoir plus d'information
                                    vous pouvez prendre rendez-vous ou m'envoyer un mail via le formulaire de contact.
                                    <a class="text-textC hover:text-btnBack" href="{% if app.user %}{{ path('reservation') }} {% else %} {{ path('app_login')}} {% endif %}">Un rendez-vous ?</a>
                                    <a class="text-textC hover:text-btnBack" href="{{ path('salon') }}">Formulaire de contact ?</a>
                                </dd>
                            </div>
                        </div>

                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-nav-dark text-white">
                                    <!-- Heroicon name: annotation -->
                                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <dt class="text-lg leading-6 font-medium text-gray-900">
                                    Boutique en Ligne
                                </dt>
                                <dd class="mt-2 text-base text-gray-900">
                                    Vous pouvez commander en ligne puis venir chercher le produit au salon .<br>
                                    <a class="text-textC hover:text-btnBack " href="{{ path('boutique') }}">Voir les produits ?</a>
                                </dd>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
        </div>

    </section>

    <section class="w-full mx-auto h-full bg-gradient-to-r from-nav-original to-yellow-100">
        <h1 class="text-center pt-5 text-textC text-5xl">Les trois derniers Articles ajoutés</h1>

        <div class="flex flex-wrap mt-10">
            {% if articles is not empty %}
                {% for article in articles %}
            <div class="m-auto px-4 py-8 rounded-2xl max-w-sm flex-auto">
                <div class="bg-white shadow-2xl">
                    <div>
                        <img src="uploads/articles/{{ article.image }}">
                    </div>
                    <div class="px-4 py-2 mt-2 bg-white">
                        <h2 class="font-bold text-2xl text-gray-800">{{article.titre}}</h2>
                        <p class="sm:text-sm text-xs h-14 break-words overflow-hidden text-gray-700 px-2 mr-1 my-3"> {{ article.description }}</p>
                        <div class="user flex items-center -ml-1 mt-8 mb-4">
                            <a class="bg-nav-dark px-3 py-4 rounded-tl-2xl text-textC rounded-tr-2xl hover:text-white hover:bg-btnBack" href="{{ path('learticle',{"id": article.id})
                            }}">Détail de l'article</a>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
            {% else %}
            <h1 class="mx-auto text-3xl m-5">Aucun Article !</h1>
            {% endif %}
        </div>
        {% if articles is not empty %}
        <div class="text-right mt-6 mr-14 pb-10">
            <a class="bg-nav-dark px-5 py-4 rounded-bl-2xl text-textC rounded-br-2xl hover:text-white hover:bg-btnBack" href="{{ path("Allarticles") }}">Voir tous les articles</a>
        </div>
        {% endif %}
        <div class="w-full  bg-gray-500  bg-no-repeat" style="
  background-blend-mode: multiply;
  background-position: center center;
  background-image: url('https://images.unsplash.com/photo-1572297870735-065d402f7b29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
">
            <div class=" p-10  py-20  flex  flex-col  flex-wrap  justify-center  content-center">
                <div class=" m-0  p-0  text-3xl  text-white  antialiased  text-center">Voulez-vous être informé de l'actualité du site ?</div>
                <div class=" m-0  p-0  text-xl  text-white  antialiased  text-center">Profiter de notre système de newsletter</div>
                <div class=" mt-3  flex justify-center item-center">
                    <a href="{{ path('signin') }}" class=" p-2  w-1/3  bg-indigo-400  rounded-r-lg  text-white hover: bg-indigo-300" type="button">S'inscrire</a>
                </div>
            </div>
        </div>
    </section>




{% endblock %}
