{% extends 'base.html.twig' %}

{% block title %}Fiche de soin{% endblock %}

{% block body %}
<style>
</style>

    <!-- Header with image -->
    <section class="w-full mt-16">
        <div class="w-full  bg-gray-500 bg-no-repeat" style="
  background-blend-mode: multiply;
  background-position: center center;
  background-image: url('https://likemagicenergyhealing.com/wp-content/themes/LikeMagicEnergyHealing/images/inner-hdr.jpg');
">
            <div class=" p-10  py-20  flex  flex-col  flex-wrap  justify-center  content-center">
                <div class=" m-0  p-0  text-5xl  text-white  antialiased  text-center">Les Fiches de soin !</div>
                <div class=" m-0  p-0  text-xl  text-white  antialiased  text-center"></div>
            </div>
        </div>
    </section>
    <!-- Header with image -->

    <!-- I need Healing -->
    <section class="w-full flex flex-wrap justify-around bg-yellow-50">
        <article class="py-12 px-4 ml-4">
            <h1 class="text-4xl text-center mb-4 font-semibold font-heading font-semibold">Fiche pour un Tatouage</h1>

            <div class="max-w-3xl mx-auto">
                <p class="mb-4">Les soins à apporter à votre nouveau tatouage sont très importants et doivent commencer dès le jour de l’acte et ce pour une période de 15 jours.
                    Le tatoueur a fait 90% du travail à vous de faire les 10% restant afin d’avoir un résultat impeccable .
                   </p>
                <p class="mb-4"> Ces soins permettent une cicatrisation optimale et une limitation du risque d’infection, plus vous prenez soin de votre tatouage plus il sera beau .
                    Vous pouvez entretenir votre tatouage tout au long de votre vie , en l’hydratation ou le protégeant du soleil par exemple, n’oubliez pas que la peau est un organe vivant elle vieillit et est sensible , votre tatouage l’est tout autant .
                    Voici la fiche de soin , vous trouverez au salon les produits de soin pour votre tatouage .</p>
              <hr>
            </div>
        </article>
        <article class="py-12 px-4 mr-4">
            <h1 class="text-4xl text-center mb-4 font-semibold font-heading font-semibold">Fiche pour un piercing</h1>

            <div class="max-w-3xl mx-auto">
                <p class="mb-4">L'acte de piercing est une modification corporelle forte , il en va de soit que les soins à apportés doivent être extrêmement soignés , le résultat de votre piercing en dépend totalement .
                    Les risques d’infections ou de rejet sont élevés si les soins ne sont pas fait correctement et soigneusement .
                    </p>
                <p id="rea" class="mb-10">Chaque peau est différente ,chaque piercing l est aussi mais ces fiches de soin permettent de vous garantir une cicatrisation saine .
                    Nous assurons le suivi de votre piercing et les éventuels soins à apporter durant 12 mois ( infection , rejet , chéloïdes ) n’hésitez pas à nous contacter pour tout renseignement.</p>
                <hr>
            </div>
        </article>

        <!-- lg table -->
        <article class="mb-10 hidden lg:block">
            <table class="bg-white w-11/12">
                <thead>
                <tr>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">PIERCING</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Durée d'inflammation</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Délai de cicatrisation</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Télécharger la fiche associer</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Lobe</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">7 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois ½</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/lobe.pdf" target="_blank">Télécharger</a></td>
                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Cartilage</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois ½</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">4 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/cartilage.pdf" target="_blank">Télécharger</a></td>
                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Conche</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 à 2 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">6 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/cartilage.pdf" target="_blank">Télécharger</a></td>
                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Arcade</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">20 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">4 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/lobe.pdf" target="_blank">Télécharger</a></td>
                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Narine</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">15 à 20 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">4 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/nez.pdf" target="_blank">Télécharger</a></td>
                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Septum</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">4 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/septum.pdf" target="_blank">Télécharger</a></td>
                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Nombril</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">6 à 12 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/nombril.pdf" target="_blank">Télécharger</a></td>
                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Sein</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">6 à 12 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/teton.pdf" target="_blank">Télécharger</a></td>
                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Labret, médusa, mouche</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">20 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">4 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/medusa.pdf" target="_blank">Télécharger</a></td>
                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Langue</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">10 à 15 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois ½</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/langue.pdf" target="_blank">Télécharger</a></td>
                </tr>
                </tbody>
            </table>
        </article>
        <!-- lg table -->

        <!-- md table -->
        <article class="mb-10  hidden md:block lg:hidden">
            <table class="bg-white w-11/12">
                <thead>
                <tr>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300">PIERCING</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300">Durée d'inflammation</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300">Délai de cicatrisation</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300">Télécharger la fiche associer</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white lg:hover:bg-gray-md:block100 flex table-row flex-row flex-row flex-wrap flex-no-wrap mb-10 mb-0">
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">Lobe</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">7 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">1 mois ½</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static"><a href="/uploads/heal/lobe.pdf" target="_blank">Télécharger</a></td>
                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">Cartilage</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">1 mois ½</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">4 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static"><a href="/uploads/heal/cartilage.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">Conche</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">1 à 2 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">6 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static"><a href="/uploads/heal/cartilage.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">Arcade</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">20 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">4 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static"><a href="/uploads/heal/lobe.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">Narine</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">15 à 20 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">4 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static"><a href="/uploads/heal/nez.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">Septum</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">1 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">4 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static"><a href="/uploads/heal/septum.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">Nombril</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">1 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">6 à 12 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static"><a href="/uploads/heal/nombril.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">Sein</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">1 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">6 à 12 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static"><a href="/uploads/heal/teton.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">Labret, médusa, mouche</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">20 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">4 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static"><a href="/uploads/heal/medusa.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">Langue</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">10 à 15 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static">1 mois ½</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block table-cell relative lg:static"><a href="/uploads/heal/langue.pdf" target="_blank">Télécharger</a></td>

                </tr>
                </tbody>
            </table>
        </article>
        <!-- md table -->

        <!-- sm table -->
        <article class="mb-10 md:hidden sm:block lg:hidden">
            <table class="bg-white">
                <thead>
                <tr class="flex flex-col">
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300  table-cell">PIERCING</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300  table-cell">Durée d'inflammation</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300  table-cell">Délai de cicatrisation</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300  table-cell">Télécharger la fiche associer</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Lobe</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">7 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois ½</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/lobe.pdf" target="_blank">Télécharger</a></td>
                </tr>
                <tr>
                    <td class="w-full mt-5 lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Cartilage</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois ½</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">4 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/cartilage.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full mt-5 lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Conche</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 à 2 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">6 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/cartilage.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full mt-5 lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Arcade</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">20 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">4 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/lobe.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full mt-5 lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Narine</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">15 à 20 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">4 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/nez.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full mt-5 lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Septum</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">4 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/septum.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full mt-5 lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Nombril</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">6 à 12 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/nombril.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full mt-5 lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Sein</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">6 à 12 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/teton.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full mt-5 lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Labret, médusa, mouche</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">20 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">4 mois</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/medusa.pdf" target="_blank">Télécharger</a></td>

                </tr>
                <tr>
                    <td class="w-full mt-5 lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">Langue</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">10 à 15 jours</td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">1 mois ½</td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static"><a href="/uploads/heal/langue.pdf" target="_blank">Télécharger</a></td>

                </tr>
                </tbody>
            </table>
        </article>
        <!-- sm table -->

    </section>
    <!-- I need Healing -->

{% endblock %}
