{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<style>
</style>

    <section>
        <div class="w-full flex flex-wrap">

            <!-- Login Section -->
            <div class="w-full mt-10 md:w-1/2 flex flex-col">

                <div class="flex justify-center md:justify-start mt-12 md:pl-12 md:-mb-24">
                    <a href="#" class="bg-nav-light text-textC font-bold text-xl p-4">LD Tatouages & Piercing</a>
                </div>

                <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-32 px-8 md:px-24 lg:px-32">
                    <p class="text-center text-3xl">Bienvenue sur la page de Connexion.</p>
                    <form method="post" class="flex flex-col pt-3 md:pt-8">
                        {% if error %}
                            <div class="alert alert-danger">{% if error.messageKey == "Invalid credentials." %} Mot de passe incorrect ! {% endif %}</div>
                        {% endif %}
                        <div class="flex flex-col pt-4">
                            <label for="mail" class="text-lg">Mail</label>
                            <input type="email" value="{{ last_username }}" name="username" placeholder="votre mail" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="flex flex-col pt-4">
                            <label for="password" class="text-lg">Mot de passe</label>
                            <input type="password"  name="password" placeholder="Votre mot de passe" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                        </div>

                        <input type="submit" value="Connexion" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
                    </form>
                    <div class="text-center pt-12 pb-12">
                        <p>Vous avez oublié votre mot de passe ? <a href="{{ path('forgotPassword') }}" class="underline font-semibold">Changer le !</a></p>
                        <p>Vous n'avez pas de compte ? <a href="{{ path('signin') }}" class="underline font-semibold">Inscrivez-vous.</a></p>
                    </div>
                </div>

            </div>

            <!-- Image Section -->
            <div class="w-1/2 shadow-2xl">
                <img class="object-cover w-full h-screen hidden md:block" src="https://images.unsplash.com/photo-1482375702222-03a768d5ea3c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80">
            </div>
        </div>

    </section>

{% endblock %}
