{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<style>
</style>

    <section>
        <div class="w-full flex flex-wrap">

            <!-- Login Section -->
            <div class="w-full mt-10 md:w-1/2 flex flex-col">

                <div class="flex justify-center md:justify-start mt-12 md:pl-12 md:-mb-24">
                    <a href="#" class="bg-nav-light text-textC font-bold text-xl p-4">LD Tatouages & Piercing</a>
                </div>

                <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-32 px-8 md:px-24 lg:px-32">
                    <p class="text-center text-3xl">Bienvenue sur la page d'inscription.</p>
                    <div class="flex flex-col pt-3 md:pt-8">
                        {{ form_start(form) }}
                        <div class="flex flex-col pt-4">
                            <label for="text" class="text-lg">Nom</label>
                            {{ form_widget(form.nom, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline' ,
                                'placeholder': 'Votre Nom' }}) }}
                        </div>

                        <div class="flex flex-col pt-4">
                            <label for="text" class="text-lg">Prenom</label>
                            {{ form_widget(form.prenom, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline',
                                'placeholder': 'Votre Prenom'}}) }}
                        </div>

                        <div class="flex flex-col pt-4">
                            <label for="password" class="text-lg">Majeur</label>
                            {{ form_widget(form.Majeur, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline',
                                'placeholder': ''}}) }}
                        </div>

                        <div class="flex flex-col pt-4">
                            <label for="number" class="text-lg">Téléphone</label>
                            {{ form_widget(form.telephone, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline',
                                'placeholder': 'Votre Numéro de téléphone'}}) }}
                        </div>

                        <div class="flex flex-col pt-4">
                            <label for="email" class="text-lg">Mail</label>
                            {{ form_widget(form.mail, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline',
                                'placeholder': 'Votre Adresse mail'}}) }}
                        </div>

                        <div class="flex flex-col pt-4">
                            <label for="password" class="text-lg">Mot de passe</label>
                            {{ form_widget(form.password, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline',
                                'placeholder': 'Votre Mot de passe'}}) }}
                        </div>


                        <input type="submit" value="Inscription" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
                        {% for er in error %}
                            {{ er }} <br>
                        {% endfor %}
                        {{ form_end(form) }}
                    </div>
                    <div class="text-center pt-12 pb-12">
                        <p>Vous avez un compte ? <a href="{{ path('app_login') }}" class="underline font-semibold">Connectez-vous.</a></p>
                    </div>
                </div>

            </div>

            <!-- Image Section -->
            <div class="w-1/2 shadow-2xl">
                <img class="object-cover w-full h-screen hidden md:block" src="https://images.unsplash.com/photo-1482375702222-03a768d5ea3c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80">
            </div>
        </div>

    </section>

{% endblock %}
