{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}


    <!-- Header with image -->
    <section class="w-full mt-16">
        <div class="w-full  bg-gray-500 bg-no-repeat" style="
  background-blend-mode: multiply;
  background-position: center center;
  background-image: url('https://www.anneaux-elfiques.com/images/categories/image-categorie-bijoux-cinema.jpg');
">
            <div class=" p-10  py-20  flex  flex-col  flex-wrap  justify-center  content-center">
                <div class=" m-0  p-0  text-5xl  text-white  antialiased  text-center">Bienvenue dans la boutique !</div>
                <div class=" m-0  p-0  text-xl  text-white  antialiased  text-center"></div>
            </div>
        </div>
    </section>
    <!-- Header with image -->

    <!-- CategorieBar with Product -->
    <section>
        <div class="bg-white">
            <main class="my-8">
                <div class="container mx-auto px-6">
                    <div class="md:flex md:items-center">
                        <div class="w-full h-64 md:w-1/2 lg:h-96">
                            <img class="h-full w-full rounded-md object-cover max-w-lg mx-auto" src="/uploads/products/{{ products.image }}" alt="{{ products.nom }}">
                        </div>
                        <div class="w-full max-w-lg mx-auto mt-5 md:ml-8 md:mt-0 md:w-1/2">
                            <h3 class="text-gray-700 uppercase text-lg">{{ products.nom }}</h3>
                            <span class="text-gray-500 mt-3">{{ products.prix }} €</span>
                            <hr class="my-3">
                            <div class="mt-2">
                                <label class="text-gray-700 text-lg" for="count">description  de produit : </label>
                                <div class="flex items-center mt-1">
                                    <span class="text-gray-700 text-sm mx-2">{{ products.description }}</span>
                                </div>
                                <label class="text-gray-700 text-sm" for="count">Quantité : </label>
                                <div class="flex items-center mt-1">
                                    <span class="text-gray-700 text-lg mx-2">{{ products.quantite }} restant.</span>
                                </div>
                            </div>
                            {% if app.user and products.quantite > 0  %}
                                <button class="mt-2 bg-indigo-600 text-white hover:bg-btnBack hover:text-textC px-2 py-1 rounded" type="button" id="checkout-button">Acheter</button>
                            <div id="errer"></div>
                            {% else%}
                                <p>Pour acheter il faut être connectez !</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mt-16">
                        <h3 class="text-gray-600 text-2xl font-medium">Autre Produit</h3>
                        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
                            {% if otherProducts is not empty %}
                                {% for otherProduct in otherProducts%}
                            <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                                <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('/uploads/products/{{ otherProduct.image }}')">
                                    {% if otherProduct.quantite > 0 %}
                                    <a href="{{ path('boutique_detail',{"id": otherProduct.id })}}"class="p-2 rounded-full bg-indigo-600 text-white mx-5 -mb-4 hover:bg-indigo-500 focus:outline-none
                                    focus:bg-indigo-500">
                                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                                    </a>
                                        {% else %}
                                        <p class="bg-white px-1 py-1 m-1 rounded text-rouge">Produit en rupture de stock !</p>
                                    {% endif %}
                                </div>
                                <div class="px-5 py-3">
                                    <h3 class="text-gray-700 uppercase">{{ otherProduct.nom  }}</h3>
                                    <span class="text-gray-500 mt-2">{{ otherProduct.prix}} €</span>
                                </div>
                            </div>

                                {% endfor %}
                            {% else %}
                                <p class=""text-lg mx-auto text-center>Pas d'autre produit similaire !</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </section>
    <!-- CategorieBar with Product -->



{% endblock %}

{% block javascripts %}
{% if app.user %}
    <script src="https://js.stripe.com/v3/"></script>
       <script type="text/javascript">
           // Create an instance of the Stripe object with your publishable API key
           var stripe = Stripe('pk_live_51IJwCYBEI1DnSFv06kimTzYmpbMQnsYrCa1mGSqQzE6fRnaYhc7lCz4OvF6hvXk8c0S7c9s0g5DnNO6uUgxYXq9x00BNQkuwHR');
           var checkoutButton = document.getElementById('checkout-button');

           checkoutButton.addEventListener('click', function() {
               // Create a new Checkout Session using the server-side endpoint you
               // created in step 3.
               fetch('{{ path('checkout',{"id": products.id}) }}', {
                   method: 'POST',
               })
                   .then(function(response) {
                       return response.json();
                   })
                   .then(function(session) {
                       return stripe.redirectToCheckout({ sessionId: session.id });
                   })
                   .then(function(result) {
                       // If `redirectToCheckout` fails due to a browser or network
                       // error, you should display the localized error message to your
                       // customer using `error.message`.
                       if (result.error) {
                           alert(result.error.message);
                       }
                   })
                   .catch(function(error) {
                       console.error('Error:', error);
                   });
           });
       </script>
{% endif %}
{% endblock %}
