{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    <style>
        .dropdown:hover > .dropdown-content {
            display: block;
        }
    </style>

    <!-- Header with image -->
    <section class="w-full mt-16">
        <div class="w-full  bg-gray-500 bg-no-repeat" style="
  background-blend-mode: multiply;
  background-position: center center;
  background-image: url('https://www.anneaux-elfiques.com/images/categories/image-categorie-bijoux-cinema.jpg');
">
            <div class=" p-10  py-20  flex  flex-col  flex-wrap  justify-center  content-center">
                <div class=" m-0  p-0  text-5xl  text-white  antialiased  text-center">Bienvenue dans la boutique !</div>
                <div class=" m-0  p-0  text-xl  text-white  antialiased  text-center"></div>
            </div>
        </div>
    </section>
    <!-- Header with image -->

    <!-- separator -->

    <section class="w-full bg-yellow-100 h-full">
        <div class="dropdown m-3 2xl:hidden lg:hidden md:hidden inline-block relative">
            <button class="bg-nav-dark hover:bg-btnBack hover:text-white rounded-2xl text-gray-700 font-semibold py-5 px-24">
                <span class="text-textC text-3xl">Catégories 🠋</span>
            </button>
            <ul class="dropdown-content absolute hidden text-gray-700 pt-1">
                <li> <a class="bg-nav-dark flex justify-between items-center text-textC p-2 rounded mt-2 cursor-pointer hover:bg-btnBack hover:text-white" href="{{
                    path('boutique')}}">Tous les produits</a></li>
                {% for cat in categ %}
                <li> <a class="bg-nav-dark flex justify-between items-center text-textC p-2 rounded mt-2 cursor-pointer hover:bg-btnBack hover:text-white" href="{{
                    path('boutique_categ',{"id": cat.id}) }}">{{ cat.libelle }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <!-- separator -->

    <!-- CategorieBar with Product -->
    <section>
            <main class="flex w-full h-screen">
                <aside class="w-80 h-screen bg-gray hidden sm:block">
                    <div class="flex flex-col justify-between h-screen p-4 bg-nav-original overflow-auto">
                        <div class="text-sm">
                            <h4 class="text-textC text-center -mt-5 p-5 text-3xl">Catégories</h4>
                            <a class="bg-nav-dark flex justify-between items-center text-textC p-2 rounded mt-2 cursor-pointer hover:bg-btnBack hover:text-white" href="{{
                            path('boutique')}}">Tous les produits</a>
                            {% for cat in categ %}
                                <a class="bg-nav-dark flex justify-between items-center text-textC p-2 rounded mt-2 cursor-pointer hover:bg-btnBack hover:text-white" href="{{
                                path('boutique_categ',{"id": cat.id}) }}">{{ cat.libelle }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </aside>

                <section class="w-full p-2">
                    <div class="w-full h-full overflow-auto border-double border-4 p-4 text-md">
                        <div class="container my-12 mx-auto px-4 md:px-12">
                            <div class="flex flex-wrap -mx-1 lg:-mx-4">
                                {% if products is not empty %}
                                {% for product in products %}
                                <!-- Column -->
                                    <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                                        <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url('/uploads/products/{{ product.image }}')">
                                            {% if product.quantite > 0 %}
                                            <a href="{{ path('boutique_detail',{"id": product.id}) }}" class="p-2 rounded-full bg-indigo-400 text-white mx-5 -mb-4 hover:bg-btnBack focus:outline-none
                                            focus:bg-blue-500">
                                                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                                            </a>
                                            {% else %}
                                                <p class="p-2 rounded-full bg-indigo-400 text-white mx-5 -mb-4 hover:bg-btnBack focus:outline-none
                                            focus:bg-blue-500">
                                                    <i class="fas fa-times-circle"></i>
                                                </p>
                                            {% endif %}
                                        </div>
                                        <div class="px-5 py-3">
                                            <h3 class="text-gray-700 uppercase">{{ product.nom }}</h3>
                                            <span class="text-gray-500 mt-2">Prix :{{ product.prix }} €</span>
                                            <span class="text-gray-500 mt-2">Quantité :{{ product.quantite }}</span>
                                        </div>
                                    </div>

                                {% endfor %}
                                {% else %}
                                    <h1 class="text-3xl mx-auto">Aucun produit pour le moment !</h1>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </section>
            </main>
    </section>
    <!-- CategorieBar with Product -->



{% endblock %}
