<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="robots" content="all" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="Description" content="LD Tatouages & Piercing est  un salon de tatouage et de piercing, vous êtes intéressé prenez rendez-vous depuis le site !">
        <meta name="Keywords" content="salon de tatouage LD Tatouages & Piercing laurie Peiro
Cierp-Gaud 31440">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <title>{% block title %}LD Tatouages & Piercing{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="/build/app.c29a88af.css">
            <style>
                .dropdown:hover .dropdown-menu {
                    display: block;
                }
            </style>
        {% endblock %}
    </head>
    <body>
    <nav class="fixed w-full top-0 z-50 bg-gradient-to-r from-nav-original to-yellow-100">
        <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <h2 class="font-medium text-gray-800 md:text-sm lg:text-lg float-left">LD Tatouages & Piercing</h2>
                    </div>
                    <div class="hidden 2xl:block">
                        <div class="2xl:ml-20 md:ml-5 flex items-baseline space-x-6">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a {% if app.request.get('_route') == 'accueil' %} class="bg-nav-dark text-gray-800 px-4 py-1 rounded-md text-lg md:text-sm lg:text-lg  font-medium{% endif %} class='text-gray-800 hover:bg-nav-dark px-4 py-1 rounded-md md:text-xs lg:text-lg  font-medium' href="{{ path('accueil') }}">Accueil</a>

                            <a {% if app.request.get('_route') == 'boutique' %} class="bg-nav-dark hover:bg-nav-dark text-gray-800 px-4 py-1 rounded-md lg:text-lg md:text-sm text-lg  font-medium"{% endif %} class='text-gray-800 hover:bg-nav-dark px-4 py-1 rounded-md md:text-xs lg:text-lg  font-medium' href="{{ path('boutique') }}" class="text-gray-800 hover:bg-nav-dark px-3 py-1 rounded-md text-sm font-medium">Boutique</a>

                            <div class="dropdown inline-block relative">
                                <a {% if app.request.get('_route') == 'salon' %} class="bg-nav-dark inline-flex items-center hover:bg-nav-dark text-gray-800 px-6 py-1 rounded-md lg:text-lg md:text-sm text-lg  font-medium tex"{% endif%}  class='text-gray-800 inline-flex items-center hover:bg-nav-dark px-4 py-1 rounded-md  md:text-xs lg:text-lg  font-medium' href="{{ path('salon') }}" class="text-gray-800 hover:bg-nav-dark px-3 py-1 rounded-md text-sm font-medium">Salon
                                    {% if app.request.get('_route') == 'salon' %}
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                                    {% endif %}
                                </a>
                                {% if app.request.get('_route') == 'salon' %}
                                <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                                    <li class=""><a class="rounded-t bg-nav-original hover:bg-nav-dark py-2 px-4 block whitespace-no-wrap" href="#salon">Le détail du Salon</a></li>
                                    <li class=""><a class="bg-nav-original hover:bg-nav-dark py-2 px-4 block whitespace-no-wrap" href="#tatoo">Tatouages & Piercing Information</a></li>
                                    <li class=""><a class="bg-nav-original hover:bg-nav-dark py-2 px-4 block whitespace-no-wrap" href="#rea">Les réalisations</a></li>
                                    <li class=""><a class="rounded-b bg-nav-original hover:bg-nav-dark py-2 px-4 block whitespace-no-wrap" href="#contact">Prendre contact</a></li>
                                </ul>
                                {% endif %}
                            </div>

                            <a {% if app.request.get('_route') == 'fiche_de_soin' %} class="bg-nav-dark hover:bg-nav-dark text-gray-800 px-4 py-1 rounded-md lg:text-lg md:text-sm text-lg  font-medium"{% endif %} class='text-gray-800 hover:bg-nav-dark px-4 py-1 rounded-md  md:text-xs lg:text-lg  font-medium' href="{{ path('fiche_de_soin') }}" class="text-gray-800 hover:bg-nav-dark px-3 py-1 rounded-md text-sm font-medium">Fiche de soin</a>

                            {% if not app.user %}
                            <a {% if app.request.get('_route') == 'authentification' or app.request.get('_route') == "signin" %} class="bg-nav-dark hover:bg-nav-dark text-gray-800 px-4 py-1 rounded-md lg:text-lg md:text-sm text-lg  font-medium"{% endif %} class='text-gray-800 hover:bg-nav-dark px-4 py-1 rounded-md md:text-xs lg:text-lg  font-medium' href="{{ path('app_login') }}" class="text-gray-800 hover:bg-nav-dark px-3 py-1 rounded-md text-sm font-medium">{% if app.request.get('_route') == 'app_login' %}Connexion {% elseif app.request.get('_route') == 'signin' %}Inscription {% else %} Connexion {% endif %}</a>
                            {% else %}
                            <a {% if app.request.get('_route') == 'profil' %} class="bg-nav-dark hover:bg-nav-dark text-gray-800 px-4 py-1 rounded-md lg:text-lg md:text-sm text-lg  font-medium"{% endif %} class='text-gray-800 hover:bg-nav-dark px-4 py-1 rounded-md  md:text-xs lg:text-lg  font-medium' href="{{ path('profil') }}" class="text-gray-800 hover:bg-nav-dark px-3 py-1 rounded-md text-sm font-medium">Mon Compte</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a {% if app.request.get('_route') == 'back_office' %} class="bg-nav-dark hover:bg-nav-dark text-gray-800 px-4 py-1 rounded-md lg:text-lg
                                    md:text-sm text-lg  font-medium"{% endif %} class='text-gray-800 hover:bg-nav-dark px-4 py-1 rounded-md md:text-xs lg:text-lg  font-medium'
                                                                                href="{{ path('back_office') }}">Administration</a>
                                {% endif %}
                            <a href="{{ path('app_logout') }}" class="text-gray-800 hover:bg-nav-dark px-3 py-1 rounded-md sm:text-sm 2xl:text-lg font-medium">Déconnexion</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="-mr-2 flex 2xl:hidden">
                    <!-- Mobile menu button -->
                    <button id="btn" class="bg-nav-dark hover:bg-btnBack inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-nav-light focus:ring-white">
                        <span class="sr-only">Open main menu</span>
                        <!--
                          Heroicon name: menu

                          Menu open: "hidden", Menu closed: "block"
                        -->
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <!--
                          Heroicon name: x

                          Menu open: "block", Menu closed: "hidden"
                        -->
                        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!--
          Mobile menu, toggle classes based on menu state.

          Open: "block", closed: "hidden"
        -->
        <div id="menu" class="hidden 2xl:hidden">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">

                <a  href="{{ path("accueil") }}" class="hover:bg-nav-dark text-gray-800 block px-3 py-2 rounded-md text-base font-medium">Accueil</a>

                <a href="{{ path('boutique') }}" class="text-gray-800 hover:bg-nav-dark hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium">Boutique</a>

                <a href="{{ path('salon') }}" class="text-gray-800 hover:bg-nav-dark hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium">Salon</a>

                <a href="{{ path('fiche_de_soin') }}" class="text-gray-800 hover:bg-nav-dark hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium">Fiche de soin</a>

                {% if not app.user %}
                <a class="text-gray-800 hover:bg-nav-dark hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium" href="{{ path('app_login') }}">Connexion</a>
                {% else %}
                    <a  class="text-gray-800 hover:bg-nav-dark hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium" href="{{ path('profil') }}">Mon Compte</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a {% if app.request.get('_route') == 'back_office' %} class="bg-nav-dark text-gray-800 block px-3 py-2 rounded-md text-base font-medium" {% endif
                        %}class="text-gray-800 hover:bg-nav-dark hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium"href="{{ path('back_office')
                        }}">Administration</a>
                    {% endif %}
                    <a  class="text-gray-800 hover:bg-nav-dark hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium" href="{{ path('app_logout') }}">Déconnexion</a>
                {% endif %}

            </div>
        </div>
    </nav>
 {% block body %}
        {% endblock %}

        {% block javascripts %}
            <script>
                var menu = document.getElementById("menu")
                document.getElementById("btn").addEventListener("click", (e)=>{
                    e.preventDefault()
                    if (menu.classList.contains('hidden')){
                        menu.classList.remove('hidden')
                        menu.classList.add('block')
                    }else {
                        menu.classList.add('hidden')
                        menu.classList.remove('block')
                    }
                })


            </script>
        {% endblock %}

    <section>
        <footer class="bg-gradient-to-r from-nav-original static bottom-0 to-yellow-100 w-full py-6 px-4"><!-- marging just for display-->
            <div class="flex items-center justify-between my-4">
                <p class="text-blue-500">Tous droits réserver</p>
                <p class="inline-flex text-blue-500 px-2 pt-6">LD Tatouages & Piercing</p>
                <a class="inline-flex text-blue-500 hover:bg-btnBack hover:text_white px-2 mt-6 rounded" href="{{ path("mention") }}">Mention légale</a>
                <div class="flex items-center">
                    <a href="https://www.facebook.com/LD-Tattoo-Piercing-Shop-104065151070142/">
                        <svg class="h-6 w-6 fill-current text-blue-600 mr-6" viewBox="0 0 512 512">
                            <path d="M455.27,32H56.73A24.74,24.74,0,0,0,32,56.73V455.27A24.74,24.74,0,0,0,56.73,480H256V304H202.45V240H256V189c0-57.86,40.13-89.36,91.82-89.36,24.73,0,51.33,1.86,57.51,2.68v60.43H364.15c-28.12,0-33.48,13.3-33.48,32.9V240h67l-8.75,64H330.67V480h124.6A24.74,24.74,0,0,0,480,455.27V56.73A24.74,24.74,0,0,0,455.27,32Z"/>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/ldtatouagepiercing/?hl=fr">
                        <i class="fab fa-instagram-square h-6 w-6 fill-current text-blue-600 mr-6"></i>
                    </a>
                </div>
            </div>
        </footer>
    </section>
    

    </body>

</html>
