{% extends 'base.html.twig' %}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <style>
        @media screen and (max-width: 640px){
            input[type='file'] {
                color: transparent;
                margin-left: 11%;
            }
        }
    </style>
<section>
    <div class="-mt-4">
        {% include('backOffice.html.twig') %}
        <div class="flex-1 flex flex-col overflow-hidden">
            <header class="flex justify-between items-center py-4 px-6 bg-white border-b-4 border-nav-light">
                <div class="flex items-center">
                    <button @click="sidebarOpen = true" class="text-gray-500 focus:outline-none lg:hidden">
                        <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
            </header>
            <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                <div class="container mx-auto px-6 py-8">
                    <h3 class="text-gray-700 text-3xl font-medium">Ajout de Produit</h3>

                    <div class="mt-4 bg-white rounded">
                        <div class="container mx-auto text-center">
                            <article class="py-12 px-4 ml-4">
                                <h1 class="text-2xl text-center mb-4 font-semibold font-heading font-semibold">Formulaire de modification de produit.</h1>
                                <hr>
                                <div class="container w-8/12 mx-auto">
                                    {{ form_start(form) }}
                                    <div class="flex flex-col pt-4">
                                        <label for="text" class="text-lg">Nom du produit</label>
                                        {{ form_widget(form.nom, {'attr': {'class': 'appearance-none border border-gray-200 p-2 focus:outline-none focus:border-gray-500' ,
                                            'placeholder': 'Nom du produit' }}) }}
                                    </div>

                                    <div class="flex flex-col pt-4">
                                        <label for="text" class="text-lg">Prix du produit</label>
                                        {{ form_widget(form.prix, {'attr': {'class': 'appearance-none border border-gray-200 p-2 focus:outline-none focus:border-gray-500' ,
                                            'placeholder': 'Prix du produit' }}) }}
                                    </div>

                                    <div class="flex flex-col pt-4">
                                        <label for="text" class="text-lg">Quantité du produit</label>
                                        {{ form_widget(form.quantite, {'attr': {'class': 'appearance-none border border-gray-200 p-2 focus:outline-none focus:border-gray-500' ,
                                            'placeholder': 'Quantité du produit' }}) }}
                                    </div>

                                    <div class="flex flex-col pt-4">
                                        <label for="text" class="text-lg">Image du produit</label>
                                        {{ form_widget(form.imageFile, {'class': 'w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue hover:text-white' ,
                                            'placeholder': 'Image du produit' }) }}
                                    </div>

                                    <div class="flex flex-col pt-4">
                                        <label for="description" class=" mt-4 mb-2">Description du produit</label>
                                        {{ form_widget(form.description, {'attr': {'class': 'appearance-none w-full border border-gray-200 p-2 h-40 focus:outline-none focus:border-gray-500' ,
                                            'placeholder': 'Description du produit' }}) }}
                                    </div>

                                    <div class="flex flex-col pt-4">
                                        <label for="text" class="text-lg">Categorie</label>
                                        {{ form_widget(form.LaCategorie, {'attr': {'class': 'w-full border border-gray-200 p-2 focus:outline-none focus:border-gray-500' ,
                                            'placeholder': 'La  du produit' }}) }}
                                    </div>

                                    <input type="submit" value="Modifier Produit" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
                                    {{ form_end(form) }}
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    </div>
</section>
    {% else %}
        <p class="text-3xl m-96">Veuillez vous reconnecter ! <a class="bg-nav-dark px-2 py-1 rounded hover:text-white hover:bg-btnBack" href="{{ path("app_login") }}">Se connecter !</a></p>
    {% endif %}


{% endblock %}
